<!DOCTYPE html>
<html>
<head>
<title>Attendance System</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="favicon.ico">
<link href="/css/materialize.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet"><!--
<link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/css/base-datatable.css" />-->
</head>
<body>
     <header>
  <nav>
    <div class="sub-content"> <a href="#!" class="logo"><img src="/images/logo.png"/></a> <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
  </nav>
</header>

      <ul class="side-nav fixed" id="mobile-demo">
        {{#if  session.user }}  


{{#ifAdminCheck session.user }}
fgfhh
{{else}}
fghfhfhffghfhfh
{{/ifAdminCheck}}
{{#ifIn "admin" user.role }}

<li><a href="/" class="waves-effect waves-grey"><i class="material-icons left">dashboard</i>Dashboard</a></li>
                <li><a href="/users/listusers" class="waves-effect waves-grey"><i class="material-icons left">verified_user</i>Manage Users</a></li>
                <li><a href="/users/listroles" class="waves-effect waves-grey"><i class="material-icons left">verified_user</i>Manage Roles</a></li>
                <li><a href="/users/listusercategory" class="waves-effect waves-grey"><i class="material-icons left">verified_user</i>Manage Categories</a></li>
               <li><a href="/train" class="waves-effect waves-grey"><i class="material-icons left">add</i>Train</a></li>
                <li><a href="/run" class="waves-effect waves-grey"><i class="material-icons left">add</i>Run</a></li>
               <li><a href="/users/logout"class="waves-effect waves-grey"><i class="material-icons left">exit_to_app</i>Logout</a></li>
{{else}}

  <li><a href="/users/user/{{user._id}}/edit" class="waves-effect waves-grey"><i class="material-icons left">edit</i>Edit Profile</a></li>
   <li><a href="/users/logout"class="waves-effect waves-grey"><i class="material-icons left">exit_to_app</i>Logout</a></li>
{{/ifIn}}

        {{else}}
        	<li><a href="/users/login" class="waves-effect waves-grey">Login</a></li>
        	<li><a href="/users/register" class="waves-effect waves-grey">Register</a></li>
        {{/if}}

      </ul>



<div class="sub-content" id="main-content">


          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}



</div>
<footer>
    <div class="footer glassy-bg">
  <div class="sub-content">
    <div class=""> &copy; 2018 Sreyas, Inc. </div>
  </div>
</div>
</footer>
<script type="text/javascript" src="/js/libs/jquery.min.js"></script> 
<script type="text/javascript" src="/js/libs/materialize.js"></script> 
<script src="/js/scripts.js"></script>
 <script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>

</body>
</html>
