<div class ="border-dashed glassy-bg">
<div class="row profile-information">


<div class="col s2">
{{#each profile}}

     <img src="/{{imagepath}}" alt="Profile Page" class ="img-respon">  
{{/each}}

</div>
<div class="col s10">
<div class="item"><h3 class="bold font-color-1">{{user.name}}</h3></div>
<div class="item"><label>Email </label> <span>{{user.email}}</span></div>
<div class="item"><label>Username </label> <span>{{user.username}} </span></div>
</div>
</div>
</div>
<div class="row personal-information glassy-bg">
<div class="col s12">
 <ul class="tabs">
  <li class="tab col s3"><a class="active" href="#personal">Personal</a></li>
  <li class="tab col s3"><a href="#picturechange">Change Picture</a></li>
</ul>
<div id="personal" class="col s12">
<form method="post" action="/users/user/{{user._id}}">
    {{#ifIn user.role "authenticated"}}
          <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" value = "{{user.name}}" name="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control"  value = "{{user.username}}" name="username">
  </div>
    <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" value = "{{user.email}}" name="email">
  </div>

     {{ else }}
            <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" value = "{{user.name}}" name="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control"  value = "{{user.username}}" name="username">
  </div>
    <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" value = "{{user.email}}" name="email">
  </div>
     <div class="form-group form-checkboxes" >  Roles
       {{#each roles}} 
       <div class ="item">
       <input type="checkbox" id="{{rolename}}" value ={{rolename}} name="userroles" class ="filled-in" {{#ifIn rolename ../user.role }}checked = "checked"{{/ifIn}}/>
       <label for ="{{rolename}}" class="ripple-effect">{{rolename}}</label> </div>
       {{/each}}
    </div>
    
 
   <div class="form-group">
    <label>Category</label>
    <select name ="category" id= "category">
         <option value="">Choose your Category</option>
{{#each categories}} 
{{#each ../profile }}




         <option value="{{../_id}}"  {{#ifIn ../_id category}}  selected ="selected" {{/ifIn}}>{{../Category}}</option>
{{/each}}
{{/each}}

            </select>
  </div>
{{/ifIn}}
  <button type="submit" class="btn btn-default">Update</button>
</form>
</div>
<div id="picturechange" class="col s12">
<form method="post" action="/users/profileimage/{{user._id}}"enctype="multipart/form-data">
 <div class="file-field input-field">
      <div class="btn">
        <span>IMAGE</span>
        <input type="file"  name="myimage">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
 <input type="submit" name="submit" value="Update"></input>
</form>
</div>
</div>
</div>
